.featuredProducts{

    .top{
        display: flex;
        
        align-items: center;
        justify-content: space-around;
        
        h1{
            text-transform: capitalize;
           
        }
        p{
            
        }
         
    }
    .bottom{
        display: flex;
        justify-content: space-around;
    }
}