.footer{
      display: flex;
      flex-direction: row;
      gap: 5vw;
      
       
       height: 40vh;
       align-items: center;
       background-color:   rgb(236, 197, 122);
       width: 100%;
       

    .PaymentMethods{
        //   background-color: white;
          margin-left: 1vw;
          height: 15vh;

        .topic{
            text-align: center;
            text-decoration-thickness: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 20px;
            color: white;
            
             
             
        }

        .images{

            margin: 3px;

            .img{
                height: 4vh;
                width: 3vw;
                margin: 10px;
                border: 2px solid white;
                  
                
            }
            
        }

        
    }

    .details{
        
    }
    .followUs{
        // align-items: flex-start;
        // background-color: white;
        height: 15vh;
        .text{
            text-decoration-thickness: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 20px;
            text-align: center;
            color: white;
            
             
             

        }
        .social-media{
            margin: 1px;
            
            
            .img{
                height: 4vh;
                width: 3vw;
                margin: 10px;
                border: 3px solid  rgb(247, 246, 246);
                border-radius: 50%;
            }
        }

    }
    .customCare{
        
        padding-left: 1vw;
        .header{
              font-size: 20px;
              color: white;
               
        }
        ul{
            padding-left: 0;
          
           
        }
        ul li{
            list-style: none;
            color: white;
            margin-bottom: .5vh;
            
        }
    }
    
}