.navbar{

        
       height: 80px;
       background-color: rgb(236, 197, 122);
       width: 100%;
        
       z-index: 3;
       

    .wrapper{
        padding: 10px 30px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        

        .item{
           display: flex;
        //    border: 1px solid red;
        color: white;

           
           
           
        }
        .left{
           display: flex;
           font-size: 18px;
            
           height: 40px;
           width: 30%;
           justify-content: space-evenly;

           
            .link{
                color: white;
            }
            
           
        }
        .center{
             
            height: 60px;
            width: 10%;
            font-size: 40px;
            text-align: center;
            background-color: rgb(199, 108, 66);
            border-radius: 50%;
            .link{
                font-size: 50px;
                margin-bottom: 20px;
                justify-content: center;
                align-items: center;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color: blanchedalmond;
                 
                
            }
            
            
            

        }
        .right{
           display: flex;
           justify-content: space-evenly;
            
           height: 40px;
           width: 30%;
           font-size: 18px;

           .icons{
             display: flex;
             gap:15px;
             cursor: pointer;
             color: rgb(245, 245, 245);

             .cart-item{

                position: relative;
                span{
                    background-color: rgb(226, 171, 69);
                    border-radius: 50%;
                    height: 20px;
                    width: 20px;
                    font-size: 15px;
                    position: absolute;
                    text-align: center;
                    right: -10px;
                    top:-10px;
                }
             }
           }
        }
        
    }
     
    .img-flag{
        height: 30px;
        width: 40px;
    }

}